@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}


body {
  font-family: HK Grotesk;
  background-color: #F5E1FD;
  margin-left: 0px;
}
h1 {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
}
.title {
  font-size: 80px;
  color: #90691b;
  margin-bottom:0px;
  vertical-align: center;
  margin-top: 60px;
  margin-right: 0px;
}
.flex {
  display: flex;
}
.searchLogo {
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vw;
  margin-bottom: 3vh;
}


@media screen and (max-width: 700px) {
  .searchLogo {
    width: 50vw;
  }
}


.subTitle {
  font-size: 60px;
  color: white;
  margin-top: 70px;
}
.page h1 {
  font-size: 48px;
}

.page p {
  line-height: 1.5;
}

.page a {
  color: #000;
}

.page a:hover {
  text-decoration: none;
}

/* The React image and "click me" text */
.btn--click-me {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}
.btn--click-me:hover {
  text-decoration: underline;
}